

@{
    ViewBag.Title = "Profit Factor || Our Services";
}

@section styles
{

}
<main>

    <!--===== HERO AREA START =====-->

    <div class="inner-hero" style="background-image: url(/img/bg/inner-hero-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto text-center">
                    <div class="inner-main-heading">
                        <h1>Our Services</h1>
                        <div class="breadcrumbs-pages">
                            <ul>
                                <li><a href=@Url.Action("Index1", "Multi")>Home</a></li>
                                <li class="angle"><i class="fa-solid fa-angle-right"></i></li>
                                <li>Our Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===== HERO AREA START =====-->
    <!--=== SERVICE AREA START === -->

    <div class="service5 sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image1.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">01</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>WhatsApp API</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image2.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">02</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Google My Business</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image3.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">03</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Performance Marketing</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image4.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">04</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Meta Ads Management</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image5.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">05</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Influencer Marketing</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image6.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">06</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Website Development</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image7.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">07</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>SEO Optimization</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image8.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">08</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Social Media Marketing</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image9.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">09</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Ecommerce Marketing</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image10.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">10</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Content Marketing</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image11.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">11</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Brand Strategy</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="service-page-box mt-30">
                        <div class="image">
                            <img src="~/img/service/service5-image12.png" alt="">
                        </div>
                        <div class="content-area">
                            <div class="num">12</div>
                            <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span>
                            <h4>Analytics & Reporting</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--=== SERVICE AREA END === -->
    <!--===== COUNTER AREA START =====-->

    <div class="inner-page-counter-sec bg-cover" style="background-image: url(/img/bg/about-page-count-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="white-heading text-center">
                        <span class="sub-title"><img src="~/img/icons/span1.svg" alt=""> PROFIT FACTOR INTERESTING FACTS</span>
                    </div>
                </div>
            </div>
            <div class="row mt-10">
                <div class="col-lg col-md-4">
                    <div class="inner-counter-box mt-30">
                        <h3>27+</h3>
                        <p>Brands Partnered</p>
                    </div>
                </div>

                <div class="col-lg col-md-4">
                    <div class="inner-counter-box mt-30">
                        <h3>52+</h3>
                        <p>Projects Delivered</p>
                    </div>
                </div>

                <div class="col-lg col-md-4">
                    <div class="inner-counter-box mt-30">
                        <h3>150+</h3>
                        <p>Campaigns Run</p>
                    </div>
                </div>

                <div class="col-lg col-md-4">
                    <div class="inner-counter-box mt-30">
                        <h3>112+</h3>
                        <p>Websites Built</p>
                    </div>
                </div>

                <div class="col-lg col-md-4">
                    <div class="inner-counter-box mt-30">
                        <h3>90%+</h3>
                        <p>Client Retention</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--===== COUNTER AREA END =====-->
    <!--===== TEAM AREA START =====-->

    <div class="team2 sp sec-bg2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="heading2">
                        <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="~/img/icons/span3.svg" alt="">OUR TEAM MEMBER </span>
                        <h2 class="text-anime-style-3">Meet Our Expert Team Member</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="button text-end sm:text-start md:text-start md:mt-30 sm:mt-30" data-aos="fade-left" data-aos-duration="1000">
                        <a class="theme-btn3" href=@Url.Action("About", "Pages")>View All Services <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                    <div class="team2-item mt-30">
                        <div class="team-image-area">
                            <div class="image">
                                <img src="~/img/team/team2-image1.png" alt="">
                            </div>
                            <div class="shape round-circle">
                                <img src="~/img/shapes/team2-items-shape.png" alt="">
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content-area">
                            <div class="heading2">
                                <h4><a href="#">Rodger Struck</a></h4>
                                <p class="mt-2">Social Media Specialist</p>
                            </div>
                            <div class="plue-icon">
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                    <div class="team2-item mt-30">
                        <div class="team-image-area">
                            <div class="image">
                                <img src="~/img/team/team2-image2.png" alt="">
                            </div>
                            <div class="shape round-circle">
                                <img src="~/img/shapes/team2-items-shape.png" alt="">
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content-area">
                            <div class="heading2">
                                <h4><a href="#">Alex Buckmaster</a></h4>
                                <p class="mt-2">Marketing Officer</p>
                            </div>
                            <div class="plue-icon">
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                    <div class="team2-item mt-30">
                        <div class="team-image-area">
                            <div class="image">
                                <img src="~/img/team/team2-image3.png" alt="">
                            </div>
                            <div class="shape round-circle">
                                <img src="~/img/shapes/team2-items-shape.png" alt="">
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content-area">
                            <div class="heading2">
                                <h4><a href="#">Sarah Joe</a></h4>
                                <p class="mt-2">Marketer</p>
                            </div>
                            <div class="plue-icon">
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                    <div class="team2-item mt-30">
                        <div class="team-image-area">
                            <div class="image">
                                <img src="~/img/team/team2-image4.png" alt="">
                            </div>
                            <div class="shape round-circle">
                                <img src="~/img/shapes/team2-items-shape.png" alt="">
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content-area">
                            <div class="heading2">
                                <h4><a href="#">Chris Glasser</a></h4>
                                <p class="mt-2">Marketer</p>
                            </div>
                            <div class="plue-icon">
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--===== TEAM AREA END =====-->
    <!--===== CONTACT AREA START =====-->

    <div class="contact2 sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="heading2">
                        <div class="contact2-form">
                            <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="~/img/icons/span3.svg" alt="">CONTACT US </span>
                            <h2 class="text-anime-style-3">Let's Work Together</h2>
                            <p class="mt-16" data-aos="fade-right" data-aos-duration="900">Ready to scale your business with performance marketing that delivers measurable results? Let's work together to create data-driven strategies that drive ROI, growth, and success for your brand.</p>
                            <form action="#" data-aos="fade-right" data-aos-duration="1000">
                                <div class="row mt-16">
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="text" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="text" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="number" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-input">
                                            <select class="wide">
                                                <option value="1">Select Service</option>
                                                <option value="2">WhatsApp API / Automation</option>
                                                <option value="3">Google My Business (GMB)</option>
                                                <option value="4">Performance Marketing</option>
                                                <option value="5">Meta Ads Management</option>
                                                <option value="6">Influencer Marketing</option>
                                                <option value="7">Website Development</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-input">
                                            <textarea rows="5" placeholder="How can we help you?"></textarea>
                                        </div>
                                        <div class="button mt-30">
                                            <button class="theme-btn3" type="submit">Send <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact2-image image-anime reveal ml-40 md:ml-0 sm:ml-0 md:mt-30 sm:mt-30">
                        <img class="w-full" src="~/img/others/contact2-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===== CONTACT AREA END =====-->

</main>

@section scripts
{

}