<div class="preloader1">
    <!-- Preloader -->
    <div id="preloader">
        <!-- Progress Bar at Top -->
        <div class="progress-bar"></div>
        <!-- Title Logo in Center with Rotation -->
        <div class="title-logo">
            <img src="~/img/logo/f-icon-dark.png" alt="Profit Factor Logo">
        </div>
    </div>
</div>