@await Html.PartialAsync("~/Pages/Shared/Partials/_SearchPopup.cshtml")
<header>
    <div id="vl-header-sticky" class="vl-header-area2 header-tranperent">
        <div class="container header2-bg">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="vl-logo">
                        <a href="/" class="header1-logo-block"><img src="~/img/logo/black-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block text-end">
                    <div class="vl-main-menu">
                        <nav class="vl-mobile-menu-active">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="#">Home <span><i class="fa-regular fa-angle-down"></i></span></a>
                                    <div class="vl-mega-menu">
                                        <div class="vl-home-menu">
                                            <div class="row gx-3 row-cols-1 row-cols-md-1 row-cols-lg-5">
                                                <div class="col">
                                                    <div class="vl-home-thumb">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo1.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="/">01. SEO Marketing</a>
                                                        <div class="btn-area1">
                                                            <a href="/" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index1" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="vl-home-thumb">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo2.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-2">02. Affiliate Marketing</a>
                                                        <div class="btn-area1">
                                                            <a href="index-2" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index2" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="vl-home-thumb">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo3.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-3">03. Startup Agency</a>
                                                        <div class="btn-area1">
                                                            <a href="index-3" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index3" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>
                                                <div class="col ">
                                                    <div class="vl-home-thumb">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo4.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-4">04. SEO Marketing</a>
                                                        <div class="btn-area1">
                                                            <a href="index-4" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index4" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>

                                                <div class="col ">
                                                    <div class="vl-home-thumb">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo5.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-5">05. Digital  Marketing</a>
                                                        <div class="btn-area1">
                                                            <a href="index-5" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index5" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row gx-3 row-cols-1 row-cols-md-1 row-cols-lg-5">
                                                <div class="col">
                                                    <div class="vl-home-thumb mt-20">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo6.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-6">06. Social Marketing</a>
                                                        <div class="btn-area1">
                                                            <a href="index-6" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index6" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="vl-home-thumb mt-20">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo7.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-7">07. Social Marketing</a>
                                                        <div class="btn-area1">
                                                            <a href="index-7" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index7" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>
                                                <div class="col ">
                                                    <div class="vl-home-thumb mt-20">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo8.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-8">08 .Startup Agency</a>
                                                        <div class="btn-area1">
                                                            <a href="index-8" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index8" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>
                                                <div class="col ">
                                                    <div class="vl-home-thumb mt-20">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo9.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-9">09. Advertising Agency</a>
                                                        <div class="btn-area1">
                                                            <a href="index-9" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index9" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="vl-home-thumb mt-20">
                                                        <div class="img1">
                                                            <img src="~/img/demo/demo10.jpg" alt="">
                                                        </div>
                                                        <a class="text" href="index-10">10. Human Resources</a>
                                                        <div class="btn-area1">
                                                            <a href="index-10" class="theme-btn3">Multi Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                            <a href="single-index10" class="theme-btn3">One Page <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>

                                <li class="has-dropdown">
                                    <a href="#">Portfolio <span><i class="fa-regular fa-angle-down"></i></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="portfolio"> Portfolio</a></li>
                                        <li><a href="portfolio-details"> Portfolio Details</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a href="#">Service <span><i class="fa-regular fa-angle-down"></i></span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#" class="span-arrow">Service <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                            <ul class="sub-menu menu1">
                                                <li><a href="service-1">Service 01</a></li>
                                                <li><a href="service-2">Service 02</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="span-arrow">Single Service <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                            <ul class="sub-menu menu1">
                                                <li><a href="service-single1">Seo Marketing</a></li>
                                                <li><a href="service-single2">Social Marketing</a></li>
                                                <li><a href="service-single3">Content Marketing</a></li>
                                                <li><a href="service-single4">Pay Per Click</a></li>
                                                <li><a href="service-single5">Travel Guide</a></li>
                                                <li><a href="service-single6">HR Staffing Agency</a></li>
                                                <li><a href="service-single7">Insurance Policy</a></li>
                                                <li><a href="service-single8">Real Estate</a></li>
                                                <li><a href="service-single9">Startup Agency</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Page's <span><i class="fa-regular fa-angle-down"></i></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="about">About Us</a></li>
                                        <li><a href="team">Our Team</a></li>
                                        <li><a href="testimonial">Testimonial</a></li>
                                        <li><a href="faq">FAQ's</a></li>
                                        <li><a href="pricing">Pricing</a></li>
                                        <li><a href="contact">Contact Us</a></li>
                                        <li><a href="error">404</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blogs <span><i class="fa-regular fa-angle-down"></i></span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#" class="span-arrow">Our Blogs <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                            <ul class="sub-menu menu1">
                                                <li><a href="blog-1">Blog 01</a></li>
                                                <li><a href="blog-2">Blog 02</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="span-arrow">Blog Details <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                            <ul class="sub-menu menu1">
                                                <li><a href="blog-left">Blog Details Left</a></li>
                                                <li><a href="blog-right">Blog Details Right</a></li>
                                                <li><a href="blog-details">Blog Details</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="vl-header2-btns text-end d-none d-lg-block">
                        <div class="buttons">
                            <div class="vl-search2">
                                <button class="search-open-btn"><i class="fa-regular fa-magnifying-glass"></i></button>
                            </div>
                            <a class="theme-btn3" href="contact">Contact Us <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                    <div class="vl-header-action-item d-block d-lg-none">
                        <button type="button" class="vl-offcanvas-toggle">
                            <i class="fa-duotone fa-solid fa-bars-staggered"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--=====HEADER END =======-->
<!--===== MOBILE HEADER STARTS =======-->
<div class="vl-offcanvas vl-header-area1">
    <div class="vl-offcanvas-wrapper">
        <div class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90">
            <div class="vl-offcanvas-logo">
                <a href="/" class="header1-logo-block"><img src="~/img/logo/black-logo.png" alt=""></a>
            </div>
            <div class="vl-offcanvas-close">
                <button class="vl-offcanvas-close-toggle"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>

        <div class="vl-offcanvas-menu d-lg-none mb-40">
            <nav></nav>
        </div>

        <div class="space20"></div>
        <div class="vl-footer-contact3 vl-footer-widget-black1 mb-20 sm:ml-0 md:ml-0">
            <h4>Contact Information</h4>
            <div class="single-contact-item">
                <div class="icon">
                    <img src="~/img/icons/footer-contact-icon1.svg" alt="">
                </div>
                <div class="text">
                    <a href="mail:support@seoxagency.com">support@seoxagency.com</a>
                </div>
            </div>

            <div class="single-contact-item">
                <div class="icon">
                    <img src="~/img/icons/footer-contact-icon2.svg" alt="">
                </div>
                <div class="text">
                    <a href="#">123 Digital Lane, <br> Marketing City, USA</a>
                </div>
            </div>

            <div class="single-contact-item">
                <div class="icon">
                    <img src="~/img/icons/footer-contact-icon3.svg" alt="">
                </div>
                <div class="text">
                    <a href="tel:123-456-7890">123-456-7890</a>
                </div>
            </div>

        </div>
        <div class="vl-offcanvas-social">
            <h4>Follow Us</h4>
            <div class="vl-copyright-social2 text-start">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>

    </div>
</div>
<div class="vl-offcanvas-overlay"></div>