<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@{
    var title = ViewBag.Title != null
    ? ViewBag.Title
    : "SEOX - SEO and Digital Marketing Agency";
}

<title>@title</title>

<!--=====FAB ICON=======-->
<link rel="shortcut icon" href="~/img/logo/title2.svg" type="image/x-icon">