

@{
    ViewBag.Title = "Profit Factor || Contact Us";
}

@section styles
{

}

<main>

    <!--===== HERO AREA START =====-->

    <div class="inner-hero" style="background-image: url(/img/bg/inner-hero-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto text-center">
                    <div class="inner-main-heading">
                        <h1>Contact Us</h1>
                        <div class="breadcrumbs-pages">
                            <ul>
                                <li><a href=@Url.Action("Index1", "Multi")>Home</a></li>
                                <li class="angle"><i class="fa-solid fa-angle-right"></i></li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===== HERO AREA START =====-->
    <!--===== CONTACT AREA START =====-->

    <div class="contact2 sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="contact-page-box">
                        <div class="icon">
                            <img src="~/img/icons/contact-page-icon1.svg" alt="">
                        </div>
                        <div class="content">
                            <h3>Email Address</h3>
                            <a href="mailto:contact.profitfactor@gmail.com">contact.profitfactor@gmail.com</a>
                            <a href="mailto:contact.profitfactor@gmail.com">contact.profitfactor@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="contact-page-box">
                        <div class="icon">
                            <img src="~/img/icons/contact-page-icon2.svg" alt="">
                        </div>
                        <div class="content">
                            <h3>Phone Number</h3>
                            <a href="tel:+916378636017">+91 63786 36017</a>
                            <a href="tel:+916378636017">+91 63786 36017</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="contact-page-box">
                        <div class="icon">
                            <img src="~/img/icons/contact-page-icon3.svg" alt="">
                        </div>
                        <div class="content">
                            <h3>Office Address</h3>
                            <a href="#">A5, 2nd Floor, Kansal's,</a>
                            <a href="#">Patrakar Colony Road, Mansarovar, Jaipur</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-60">
                    <div class="heading2">
                        <div class="contact2-form">
                            <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="~/img/icons/span3.svg" alt="">CONTACT US </span>
                            <h2 class="text-anime-style-3">Let's Work Together</h2>
                            <p class="mt-16" data-aos="fade-right" data-aos-duration="900">Ready to scale your business with performance marketing that delivers measurable results? Let's work together to create data-driven strategies that drive ROI, growth, and success for your brand.</p>
                            <form action="#" data-aos="fade-right" data-aos-duration="1000">
                                <div class="row mt-16">
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="text" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="text" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <input type="number" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-input">
                                            <select class="wide">
                                                <option value="1">Select Service</option>
                                                <option value="2">WhatsApp API / Automation</option>
                                                <option value="3">Google My Business (GMB)</option>
                                                <option value="4">Performance Marketing</option>
                                                <option value="5">Meta Ads Management</option>
                                                <option value="6">Influencer Marketing</option>
                                                <option value="7">Website Development</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-input">
                                            <textarea rows="5" placeholder="How can we help you?"></textarea>
                                        </div>
                                        <div class="button mt-30">
                                            <button class="theme-btn3" type="submit">Send <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact2-image mt-60 image-anime reveal ml-40 md:ml-0 sm:ml-0 md:mt-30 sm:mt-30">
                        <img class="w-full" src="~/img/others/contact2-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===== CONTACT AREA END =====-->
    <!--===== CHOOSE AREA START =====-->

    <div class="choose2 sp sec-bg2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose2-images mr-40 sm:mr-0 md:mr-0">
                        <div class="image1 image-anime reveal">
                            <img src="~/img/others/choose2-image1.png" alt="">
                        </div>
                        <div class="image2 image-anime reveal">
                            <img src="~/img/others/choose2-image2.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 sm:mt-30 md:mt-30">
                    <div class="heading2">
                        <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="~/img/icons/span3.svg" alt="">WHY CHOOSE US </span>
                        <h2 class="text-anime-style-3">Your Success, Our Priority</h2>
                        <p class="mt-16" data-aos="fade-right" data-aos-duration="800">With a results-oriented mindset, modern marketing expertise, and commitment to long-term partnerships, we deliver measurable performance that scales with your business growth.</p>

                        <div class="choose2-apps">
                            <div class="row">
                                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
                                    <div class="choose2-single-apps">
                                        <div class="apps-image">
                                            <img src="~/img/apps/choose-app1.png" alt="">
                                        </div>
                                        <div class="apps-info">
                                            <h4>27+</h4>
                                            <p>Brands Partnered</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                                    <div class="choose2-single-apps">
                                        <div class="apps-image">
                                            <img src="~/img/apps/choose-app2.png" alt="">
                                        </div>
                                        <div class="apps-info">
                                            <h4>52+</h4>
                                            <p>Projects Delivered</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="350">
                                    <div class="choose2-single-apps">
                                        <div class="apps-image">
                                            <img src="~/img/apps/choose-app3.png" alt="">
                                        </div>
                                        <div class="apps-info">
                                            <h4>150+</h4>
                                            <p>Campaigns Run</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                                    <div class="choose2-single-apps">
                                        <div class="apps-image">
                                            <img src="~/img/apps/choose-app4.png" alt="">
                                        </div>
                                        <div class="apps-info">
                                            <h4>112+</h4>
                                            <p>Websites Built</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="450">
                                    <div class="choose2-single-apps">
                                        <div class="apps-image">
                                            <img src="~/img/apps/choose-app5.png" alt="">
                                        </div>
                                        <div class="apps-info">
                                            <h4>90%+</h4>
                                            <p>Client Retention</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                                    <div class="choose2-single-apps">
                                        <div class="apps-image">
                                            <img src="~/img/apps/choose-app6.png" alt="">
                                        </div>
                                        <div class="apps-info">
                                            <h4>3x+</h4>
                                            <p>Avg. ROI Delivered</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--===== CHOOSE AREA END =====-->

    <div class="contact-map-page">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.5!2d75.7873!3d26.8466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db5f5a397e9e9%3A0x5d0f3d7c6e8b8b8b!2sPatrakar%20Colony%2C%20Mansarovar%2C%20Jaipur%2C%20Rajasthan!5e0!3m2!1sen!2sin!4v1701400000000!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</main>

@section scripts
{

}